<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802699524528-1u99d2lt774o1i24m0k51himqn06dn4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802699524528-1u99d2lt774o1i24m0k51himqn06dn4t</string>
	<key>API_KEY</key>
	<string>AIzaSyAGQxE0yJ3rAuFIFNxuxdjIgqnbjUqLaic</string>
	<key>GCM_SENDER_ID</key>
	<string>802699524528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ggtTourGuideUtccfinalproject</string>
	<key>PROJECT_ID</key>
	<string>ggt-tourgiude-utccfp</string>
	<key>STORAGE_BUCKET</key>
	<string>ggt-tourgiude-utccfp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802699524528:ios:1a2efe8a7b18525a42be75</string>
</dict>
</plist>